Repository estebanmatias92/nix-capsules: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-links, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-links
        name: Check internal links
        entry: .github/scripts/check-links.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        files: ^pages/

      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        pass_filenames: false
        files: ^\.github/scripts/
        stages: [pre-commit]

Modularize github workflow
  .github/workflows/verify-commands.yml
  pages/20-fetching-sources.md
Due: check-links

Fixing .github/scripts/check-commands.sh list
  .github/scripts/check-commands.sh
Due: shellcheck

Fixing .github/scripts/check-commands.sh list
  pages/20-fetching-sources.md
Due: check-links

Refactor for accuracy and coherence, capsule 1 to 10
  AGENTS.md
  PROGRESS.md
  pages/01-why-you-should-give-it-a-try.md
  pages/02-install-on-your-running-system.md
  pages/03-enter-environment.md
  pages/04-the-nix-store.md
  pages/05-basics-of-language.md
  pages/06-functions-and-imports.md
  pages/07-our-first-derivation.md
  pages/08-store-path-mechanics.md
  pages/09-building-with-stdenv.md
  pages/10-automatic-runtime-dependencies.md
  pages/11-developing-with-nix-shell.md
  pages/12-flake-architecture.md
  pages/13-package-composition.md
  pages/14-garbage-collector.md
  pages/15-nixpkgs-deep-dive.md
  pages/16-advanced-overrides.md
  pages/17-dependency-propagation.md
  pages/18-store-internals.md
  pages/19-multiple-outputs.md
  pages/20-fetching-sources.md
Due: check-links

Refactor for accuracy and coherence, capsule 1 to 10
  pages/02-install-on-your-running-system.md
  pages/03-enter-environment.md
Due: check-links

Add commands to see 'build-time' and 'runtime' dependency graphs
  pages/04-the-nix-store.md
  pages/10-automatic-runtime-dependencies.md
Due: check-links

Capsules up-to 12 refactored
  pages/09-building-with-stdenv.md
  pages/10-automatic-runtime-dependencies.md
  pages/11-developing-with-nix-develop.md
  pages/11-developing-with-nix-shell.md
  pages/12-flake-architecture.md
  pages/19-multiple-outputs.md
Due: check-links

Added manifest for agent guidelines
  MANIFEST.md
  pages/02-install-on-your-running-system.md
  pages/13-package-composition.md
Due: check-links

Added environment
  .envrc
  AGENTS.md
  MANIFEST.md
  PROGRESS.md
  flake.nix
  pages/13-package-composition.md
Due: check-links

Finish refactoring up-to lesson 15
  flake.lock
  pages/14-garbage-collector.md
  pages/15-nixpkgs-deep-dive.md
Due: check-links

Fixed guidelines, added agents doc, fixed links, refactored capsule 16
  AGENTS.md
  MANIFEST.md
  pages/10-automatic-runtime-dependencies.md
  pages/16-advanced-overrides.md
Due: check-links

Reverted capsule testing, updated up-to capsule 17
  AGENTS.md
  MANIFEST.md
  pages/06-functions-and-imports.md
  pages/07-our-first-derivation.md
  pages/09-building-with-stdenv.md
  pages/10-automatic-runtime-dependencies.md
  pages/13-package-composition.md
  pages/16-advanced-overrides.md
  pages/17-dependency-propagation.md
Due: check-links

Reverted capsule testing, updated up-to capsule 17
  AGENTS.md
Due: none

Reverted capsule testing, updated up-to capsule 17
  AGENTS.md
  pages/16-advanced-overrides.md
Due: check-links

Changed output presentation at capsule 16, finished refactoring capsule 17
  pages/16-advanced-overrides.md
  pages/17-dependency-propagation.md
Due: check-links

Finished capsule 18
  pages/18-store-internals.md
Due: check-links

Capsule 19 refactored
  pages/19-multiple-outputs.md
Due: check-links

Capsule 19 finished
  pages/19-multiple-outputs.md
Due: check-links

Capsule 20 refactored
  pages/20-fetching-sources.md
Due: check-links

Added nixpkgs online resource to README
  README.md
Due: none

Standarized github:nixos url reference
  README.md
  pages/06-functions-and-imports.md
  pages/07-our-first-derivation.md
  pages/09-building-with-stdenv.md
  pages/10-automatic-runtime-dependencies.md
  pages/11-developing-with-nix-develop.md
  pages/12-flake-architecture.md
Due: check-links

Finished capsule 20, all capsules working...
  pages/20-fetching-sources.md
Due: check-links

refactor: enhance .gitignore with Nix-specific patterns
  .gitignore
Due: none

refactor: .gitignore to keep CI pipeline artifacts, remove local Nix env files
  .gitignore
Due: none

docs: update AGENTS.md to reflect CI/CD vs local development separation
  AGENTS.md
Due: none

refactor: clean .gitignore - remove CI artifacts, keep local env files
  .gitignore
Due: none
